body{
  padding: 0%;
  top: 0%;
  margin: 0%;
  font-family: 'Josefin Sans', sans-serif;
}
marquee {
  color: white;
  background-color: red;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  font-size: 18px;
  background-color: #352d2f;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}
#joinnow{
  padding: 8%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: #f08d97 url(images/floral.png) ;
}
#joinnow >h1{
  font-size: 9vh;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
#joinnow >p{
  padding: 18px;
  border-bottom: 2px solid;
  border-top: 2px solid;
  text-align: center;
}
#joinnow button {
  background-color: black;
  color:#f08d97;
  margin: 10px;
  font-size:20px;
  border:none;
  letter-spacing:6px;
  padding:12px 47px;
}
.table {
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #efece7 url(images/floral.png);
}
.table h2 {
  font-family: 'Nunito', sans-serif;
  font-size:6vh;
}
.table > figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table p {
  padding: 15px;
  margin-top:0;
  text-align: center;
}
.table figure{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.table i {
  font-size:10vh;
}
.table h1 {
  font-weight:800;
  font-size: 3vh;
  text-align: center;
  margin-bottom: 0;
}
.portfolio {
  display: flex;
  padding: 3vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ddceb4 url(images/floral.png);
}

.portfolio h2 {
  font-size: 5vh;
  font-family: 'Pacifico', cursive;
}
.portfolio p {
  font-weight: 700;
  border-top:1px solid black;
  border-bottom:1px solid black;
  text-align:center;
  padding: 25px;
}
.subject {
  text-align:center;
  padding: 25px;
}

.subject img {
  width: 70%;
  margin: 15px;
  border-radius: 8px;
  height: 140px;
}
.subject figure{
  position: relative;
}
.subject figcaption{
  background-color: #050505cc;
  color: white;
  left: 8%;
  position: absolute;
  z-index: 2;
  display: none;
  height: 120px;
  margin: 18px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  width: 75%;
  top: 0;
  flex-direction: column;
}
.subject figcaption i{
  border:1px solid white;
  border-radius:35px;
  padding:8px;
  margin-bottom:10px;
}
.subject figcaption h3 {
  margin-bottom:10px;
  padding: 2px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4vh;
  background: #afc7c6 url(images/floral.png) ;
}
.contact h1 {
  font-family: 'Pacifico', cursive;  
  font-weight: bold;
}
.network i {
  font-size:6vh;
  border: 1px solid black;
  padding:14px;
  border-radius: 120px;
  margin: 0%;
}

footer {
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}
@media screen and (min-width: 400px) {
.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
}
.main-nav {
  display: flex;
  margin-right: 10px;
  flex-direction: row;
  justify-content: flex-end;
}
.main-nav li {
  margin: 0;
}

.nav-links {
  margin-left: 30px;
}

.logo {
  margin-top: 0;
}

.navbar-toggle {
  display: none;
}

.logo:hover,
.nav-links:hover {
  color: rgba(255, 255, 255, 1);
}
.table figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 85px;
  font-size:3vh;
}
@media screen and (min-width:620px)(min-width:920px){
.joinnow h1 {
  padding: 0;
  font-size: 7vh;
}
.joinnow p {
  font-weight:100;
  padding:20px 0px;
  font-size: 28px;
}

.joinnow button {
  font-size:5vh;
  padding:23px 78px;
}
.joinnow h1 {
  font-size: 6vh;
}
.joinnow p {
  width:73%;
}
.joinnow button {
  font-size: 3vh;
  font-weight:normal;
} 
#joinnow button:hover{
  cursor: pointer;
  color: wheat;
  transition: 0.5s;
}
.table #table {
  display: flex;
  flex-direction: row;
}
.table figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 20px;
  font-size:3vh;
  }
.contact h1 {
  font-size: 7vh;
  font-size: 20ox;
}
.contact i {
  font-size: 9vh;
  margin: 15px;
  top: 0%;
  padding: 3vh;
}
}
@media screen and (min-width:961px) {
.joinnow h1 {
  font-size: 6vh;
  padding: 0%;
  }
.joinnow p {
  width:73%;
  height: 0%;
  }
.joinnow button {
  font-size: 3vh;
  font-weight:bold;
  } 
#joinnow button:hover{
  cursor: pointer;
  color: white;
  transition: 0.8s;
}
.table #service {
  flex-direction: row;
  display: flex;
}

.table figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:3vh;
  padding: 2px 20px;
}
.portfolio p {
  width: 52%;
  padding: 24px 45px;
}
.subject figure {
  display: inline-block;
  margin:0;
  width: 30%;
  top: 0%;
  position:relative;
}
.subject figcaption{
  position:absolute;
  z-index: 3;
  left: 45px;
  height: 143px;
  top: 0;
  width: 70%;
  display:none;
  margin: 12px;

}
.contact i {
font-size: 5vh;
padding: 3vh;
margin: 10px;
border-radius:100px;
}
.table i:hover {
  color: orangered;
}
.network i:hover{
  color: #fcdea6;
  background-color:black;
  transition: 0.8s;

}
.subject figcaption i:hover{
  color: orangered;
  background-color: white;

}
.subject figure:hover figcaption{
  display:flex;
  transition: 5s;
} 
footer:hover span {
  color: red;
  transition: 1.3s;
}
}