/* write your styles here */
body{
    padding: 0%;
    top: 0%;
    margin: 0%;
}
#dis1{
    background-color: #ed484c;
    padding: 8px 1%;
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.dis2{
    color: black;
    background-color: yellow;
    padding: 2px 3px;
}
header{
    background-color: #4c4c4c;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
}
#ne1{
    font-size: 10vh;
    position: absolute;
}
ul{
    padding: 0%;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    position: relative;
    position: fixed;
    text-justify: initial;
    float: right;
    list-style: none;
    font-size: 20px;
    justify-content: right;
    position: static;
    padding: 0px;
    padding-right: 20px;
}
nav ul li a{
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}

  #joinnow >h1 {
    height: 100%;
  }
  #joinnow >h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 9vh;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    top: 20%;
    position: absolute;
    height: 20%;
  }
 .responsive{
    background-color: #f18d97;
    width: 100%;
    height: 500px;
}
#joinnow >pre {
    height: 100%;
  }
  #joinnow >pre {
    display: flex;
    justify-content: center;
     font-family: 'Nunito', sans-serif;
    align-self: center;
    font-size: 3vh;
    width: 100%;
    top: 40%;
    position: absolute;
    height: 20%;
  }

/* responsive */
@media only screen and (max-width: 600px) {
    header {
      width: 600px;
    }
    
    }
  }